animateEx.m
ArchiveAAS2022/
CombinedSTLs/
CompareLantosEarmoldScans_2022Apr.docx
EarResults/
ESSx.xlsx
JASAmanuscriptNotesReadme.docx
JPG/
list.txt
loadMatOutput/
Manuscript/
matFiles/
notes.m
Papers-Shape/
PDF/
PDFviewer/
PDFviewer.zip
ReadmeCodeShare.docx
Specification-ESS-Shape-Repeatability.docx
STLanalysis/
STLanalysis - Shortcut.lnk*
STLAnalysisNew/
STLEarMoldScans/
STLs/
testAnimated.gif
tmpfigs.zip
Zips/
